.App {
  text-align: center;
  color: #61dafb;
  margin: 50px auto;
  border: 2px brown solid;
  border-radius: 4px;
  width: 500px;
}

.Character {
  
}

.Avatar {
  margin: 25px;
}

body {
  background-color: #282c34;
}

.loading {
  text-align: center;
  color: #61dafb;
}